@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(221, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100%;
}